table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.pass {
    content: "&#x2705";
}

#headPage1 {
    color: #0F9D58
}
